[run]
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */apps/*
    */management/*
    */management/commands/*
    */settings/*
    */urls.py
    */wsgi.py
    */__init__.py
    manage.py
    config/settings.py
    lms/tests.py
    users/tests.py
    lms/paginators.py
    config/asgi.py
    lms/serializers.py

[report]
exclude_lines =
    pragma: no cover
    if self\.DEBUG
    raise NotImplementedError
    raise NotImplemented
    if __name__ == .__main__.:
